@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: "Work Sans", sans-serif;
}
/* Navigation style starts */
.nav-container{
  width: 100%;
  height: 130px;
  margin: 0 auto;
  box-shadow: 0 4px 4px gray;
}
.nav-content-container{
  width: 80%;
  height: 60px;
  margin: 0 auto;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-gamer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 55px;
  gap: 1.25rem;
}
.nav-icon{
  width: 88px;
  height: 40px;
}
.nav-title{
  width: 147px;
  height: 55px;

}
.nav-title h3{
  font-weight: 700;
  font-size: 45px;
}
.nav-description{
  width: 505px;
  height: 56px;
  gap: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-description p{
  font-weight: 500;
  font-size: 1.1rem;
}
.nav-description a{
  text-decoration: none;
    color: rgba(60, 53, 79, 1);
}
.nav-btn-primary button{
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 8px;
  border: none;
}
.nav-btn-primary a{
  font-weight: 400;
  font-size: 1.1rem;
  
}
.nav-btn-primary i{
  margin-left: 1rem;
}
/* Navigation style ends */
/* Header style starts */
.header-container{
  width: 100%;
  height: 710px;
  margin: 0 auto;
  border: 2px solid aqua;
}
.header-content-container{
  width: 80%;
  height: 700px;
  margin: 0 auto;
  border: 2px solid steelblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content-banner{
  width: 50%;
  height: 700px;
  border: 2px solid skyblue;
  background-image: url("resources/Group 18.png");
}
.banner-content{
  width: 365px;
  height: 404px;
  margin-top: 9.25rem;
  border: 2px solid green;
}
.banner-title-1{
  width: 100%;
  height: 56px;
  border: 2px solid tomato;

}
.banner-title-1 h4{
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
}
.banner-title-2{
  width: 100%;
  height: 111px;
  margin-top: 4px;

}
.banner-title-2 h2{
  font-weight: 800;
  font-size: 95px;
  /* background-image: linear-gradient(
    rgba(249, 72, 178, 1),
    rgba(135, 88, 241, 1)
  ); */
  color: rgba(249, 72, 178, 1),
    rgba(135, 88, 241, 1); 
  background-color: transparent;
  filter:drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
.banner-description{
  width: 100%;
  height: 110px;
  border: 2px solid red;
  margin-top: 1.5rem;
}
.banner-description p{
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: .5rem;
}
.header-btn-primary{
  width: 100%;
  height: 65px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid seagreen;
}
.header-btn-primary button{
  width: 50%;
  height: 62px;
  border: 2px solid black;
  padding: 1rem 2rem 1rem 2rem;
  font-weight: 600;
  font-size: 1rem;
  background-color: rgba(255, 66, 165, 1);
  border: none;
  border-radius: 3rem;
}

.header-btn-primary a{
  color: white;
  text-decoration: none;
}

.header-image-property{
  width: 50%;
  height: 681px;
  margin-top: 1rem;
}
.header-image-property img{
  width: 100%;
  height: 100%;
}
/* Header style ends */
/* Main style starts */
.main-container{
  width: 100%;
  height: 600px;
  margin: 0 auto;
  background-color: rgba(255, 66, 165, 0.03);
}
.main-content-container{
  width: 80%;
  height: 490px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 55px;
  border: 2px solid aqua;
}
.main-image-property{
  width: 60%;
  height: 489px;
  border: 2px solid steelblue;
}
.main-image-property img{
  width: 100%;
  height: 100%;

}
.main-banner-property{
  width: 40%;
  height: 410px;
  border: 2px solid green;
  text-align: right;

}
.main-banner-title{
  width: 100%;
  height: 70px;
  text-align: right;
  border: 2px solid black;
}
.main-banner-title h3{
  font-weight: 700;
  font-size: 3rem;
  background-image: linear-gradient(
    rgba(249, 72, 178, 1),
    rgba(135, 88, 241, 1)
  );
}
.main-banner-description{
  width: 100%;
  height: 100px; 
  margin-top: 2rem;
  border: 2px solid skyblue;
}
.main-banner-description p{
  font-weight: 400;
  font-size: 18px;
  color: rgba(88, 76, 100, 1);
}
.main-btn-primary{
  width: 208px;
  height: 65px;
  margin-left: 17rem;
  margin-top: 2rem;
  border: 2px solid brown;
}
.main-btn-primary button{
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  background-color: rgba(255, 66, 165, 1);
  border: none;
  border-radius: 3rem;
  margin-top: .4rem;
}
.main-btn-primary a{
  color: white;
  text-decoration: none;
}
.our-purpose{
  width: 100%;
  height: 70px;
  margin-top: 2rem;
  border: 2px solid slateblue;
}
.our-purpose p{
  font-weight: 500;
  font-size: 1.5rem;
}
.our-purpose h4{
  font-weight: 700;
  font-size: 1.5rem;
  text-align: right;
}
/* Main style ends */
/* Games style starts */
.game-container{
  width: 100%;
  height: 700px;
  margin: 0 auto;
  border: 2px solid salmon;
}
.game-content-container{
  width: 80%;
  height: 680px;
  margin: 0 auto;
  border: 2px solid blue;
}
.game-banner-property{
  width: 50%;
  height: 105px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid violet;
}
.game-banner-title{
  width: 100%;
  height: 56px;
}
.game-banner-title h3{
  font-weight: 700;
  font-size: 2.5rem;
}
.gamer-banner-description{
  width: 100%;
  height: 30px;
  border: 2px solid red;
  margin-top: 1rem;
}
.gamer-banner-description p{
  font-weight: 400;
  font-size: 1rem;
}
.game-image-property{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.game-vortex{
  width: 93%;
  height: 400px;
  margin: 0 auto;
  margin-top: 5rem;
  border: 2px solid red;
}
.game-vortex img{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1rem;
}
/* Game style ends */
/* Download style starts */
.download-container{
  width: 100%;
  height: 800px;
  margin: 0 auto;
  border: 2px solid aqua;
}
.download-content-container{
  width: 80%;
  height: 730px;
  margin: 0 auto;
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.download-banner-property{
  width: 50%;
  height: 725px;
  border: 2px solid red;

}
.download-banner{
  width: 353px;
  height: 290px;
  margin-top: 13rem;
  border: 2px solid black;
}
.download-banner-title{
  width: 100%;
  height: 180px;
  border: 2px solid aquamarine;
}
.download-banner-title h3{
  font-weight: 700;
  font-size: 2.8rem;
  text-align: right;
}
.play-instantly{
  background-image: linear-gradient(
    rgba(249, 72, 178, 1),
    rgba(135, 88, 241, 1)
  );
}
.download-banner-description{
  width: 100%;
  height: 90px;
  border: 2px solid steelblue;
  margin-top: 1rem;
}
.download-banner-description p{
  font-weight: 400;
  font-size: 18px;
  text-align: right;
}
.download-image-property{
  width: 50%;
  height: 725px;
  border: 2px solid tomato;
  position: relative;
}
.download-anniversary{
  width: 550px;
  height: 550px;
  margin-left: 50px;
}
.download-anniversary img{
  width: 100%;
  height: 100%;
}
.download-talking{
  width: 310px;
  height: 340px;
  position: absolute;
  top: 380px;
  border: none;
}
.download-talking img{
  width: 100%;
  height: 100%;
}
/* Download style ends */